<head>
  <script src="/assets/js/Chart.min.js"></script>
</head>
<h2>Particle Matter Pollution Graph</h2>
<div style="display:block">
  <canvas baseChart width="400px" height="200px"
  [datasets]="PMchartData"
  [labels]="chartLabelsHour"
  [options]="PMlineChartOptions"
  [colors]="lineChartColors"
  [legend]="lineChartLegend"
  [chartType]="lineChartType"
  [plugins]="lineChartPlugins"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"></canvas>
<br>
<h2>Temperature Graph</h2>
<div style="display:block">
  <canvas baseChart width="400px" height="200px"
  [datasets]="TemperatureData"
  [labels]="chartLabelsHour"
  [options]="TemperaturelineChartOptions"
  [colors]="lineChartColors"
  [legend]="lineChartLegend"
  [chartType]="lineChartType"
  [plugins]="lineChartPlugins"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"></canvas>
</div> 
<h2>Humidity Graph</h2>
<div style="display:block">
  <canvas baseChart width="400px" height="200px"
  [datasets]="HumidityData"
  [labels]="chartLabelsHour"
  [options]="HumiditylineChartOptions"
  [colors]="lineChartColors"
  [legend]="lineChartLegend"
  [chartType]="lineChartType"
  [plugins]="lineChartPlugins"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"></canvas>
</div> 
