#container{
    position:relative;
    height:100%;
    width:100%;
    padding:0;
}

.sidebar{
    /* display: block; */
    display:none;
    position: absolute;
    height: 94%;
    width: 33%;
    background-color: #f5f5f5;
    z-index: 2;
    /*left: 20px;*/
    overflow-y:auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    animation-name: dialogopen;
    animation-duration: 0.5s;
}

.sidebar::-webkit-scrollbar { width: 0 !important }

.sidebarcontents{
    text-align:center;
    padding:10px;
    top:10px;
}

.SideBarButton {
    background-color: lightgrey;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
}

@keyframes dialogopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}