<head>
        <script src="node_modules/chart.js/src/chart.js"></script>
        <script src="js/leaflet/leaflet.js"></script>  
        <script src="js/main.js"></script>
        <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
</head>
<div id="container">
    <app-side-bar></app-side-bar>
    <div class="map" id="map1"
    leaflet
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
    [leafletLayers]="markers"
    [leafletLayersControl]="layersControl" markers="markers">
    </div>
</div>