.map {
    height: 93%;
    width: 100%;
    padding: 0;
    position:absolute;
    z-index:1;
}

.loading {
	width: 100px;
    height: 100px;
    	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	padding-top: 37.5%;
	margin: auto;
}


