<head>
        <script src="node_modules/chart.js/src/chart.js"></script>
        <script src="js/leaflet/leaflet.js"></script>  
        <script src="js/main.js"></script>
        <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
        <a href="https://icons8.com/icon/85894/question-mark">Question Mark icon by Icons8</a>
</head>


<div id="container">
    <app-side-bar></app-side-bar>
    
    <div class="map" id="map1" *ngIf="!showSpinner"
    leaflet
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
    [leafletLayers]="markers"
    [leafletLayersControl]="layersControl" 
    markers="markers">
    </div>
    <svg class="pic_rect" width="470" height="80">   
        <rect width="565" height="300" style="fill:rgba(68, 68, 68, 0.856);" />
  
    </svg>
        <!-- original value (231, 233, 233, 0.99) -->

    <img src="/assets/colorscale.png" alt="color scale" height="69.3" width="408.45" class="ColorScalePicture">
    <button mat-mini-fab aria-label="question-mark" class="ColorScaleButton" (click)="OpenColorScaleModal()">
        <img src="https://img.icons8.com/material/24/000000/question-mark--v1.png">
      </button>
    <svg class="time_rect" width="470" height="60">
        <!-- original value (231, 233, 233, 0.99) -->
      <rect width="565" height="50" style="fill:rgba(68, 68, 68, 0.692);" />
    </svg>
    <b class="wind_time">{{data_time}}</b>
    <b class="wind_last_updated">{{updated_time}}</b>
    <app-side-bar></app-side-bar>
    
    <div class="loading" [ng2-loading]="showSpinner"></div>
</div>

<div id="streetMaps"></div>

<div class="ColorScaleModal" id="CSScaleModal">
    <button class="SideBarButton" id="CloseHowToButton" (click)="CloseModal($event)">✖</button>
    <div  class="InfoModalContents">
      <h1 style="text-align:center">Color Scale Information</h1>
      <hr style="width:350px;display:block;">
      <p>The color scale is based off the real time sensor values for PM2.5. 
         Higher PM2.5 levels results in worse air quality.
         The colors denote how much PM2.5 is currently in the air. </p>
      <!-- <p style="color: red;text-align:center">When viewing historical time sensor information, close the sidebar before selecting a new sensor.</p> -->
    </div>
  </div>