#container{
    position:relative;
    height:100%;
    width:100%;
    padding:0;
}
.map {
    height: 100%;
    width: 100%;
    padding: 0;
    position:absolute;
    z-index:1;
}

.sidebar{
    display: block;
    position: absolute;
    height: 95%;
    width: 33%;
    background-color: white;
    z-index: 2;
    border-radius: 5px;
    left: 20px;
    top: 25px;
    box-shadow: 10px 10px grey;
}

.sidebarcontents{
    text-align:center;
}
