/* .container{
    height:6%;
    text-align:middle;
    display: flex;
    justify-content: left;
    border-bottom:2px solid lightgrey;
}
.headerbutton{
    background-color: white;
    border:none;
    font-size:16px;
}
*/
.mint_leaf{
    width:10px;
    height:10px;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.SideBarButton {
    background-color: lightgrey;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
}

.AboutModal{
    display:none;
    width: 1200px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -600px;
    margin-top: -200px;
    z-index:4;
    background-color: #f5f5f5;
    border-radius: 5px;
    animation-name: dialogopen;
    animation-duration: 0.5s;
}

.HowToModal{
    display:none;
    width: 600px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -300px;
    margin-top: -150px;
    z-index:4;
    background-color: #f5f5f5;
    border-radius: 5px;
    animation-name: dialogopen;
    animation-duration: 0.5s;
}

.InfoModalContents{
    padding:20px;
    overflow-y:auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

@keyframes dialogopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}