
<mat-toolbar>
    <!-- <img src="../assets/mint_leaf.png" class="mint_leaf">-->
    <span class="font-size:10px">мιnтѕ AQViz
    <button mat-button (click)="OpenAboutModal()" >About</button>
    <button mat-button color="primary" (click)="OpenHowToModal()" >How To Use</button></span> 
    <span class="fill-remaining-space"></span>
    <!-- <span><button mat-icon-button color="primary" aria-label="Settings" style="float:right">
      <mat-icon>settings</mat-icon>
    </button></span> -->
</mat-toolbar>

<div id="AboutInfo">
  <button class="SideBarButton" id="CloseAboutButton" (click)="CloseSideBar($event)">✖</button>
  <p>

  </p>
</div>

<div id="HowToInfo">
  <button class="SideBarButton" id="CloseHowToButton" (click)="CloseSideBar($event)">✖</button>
  <p>
    
  </p>
</div>
